# {{ ansible_managed }}
{% if traefik_debug %}
debug = true
{% endif %}
logLevel = "{{ traefik_loglevel }}"
{% if traefik_sendanonymoususage %}
sendAnonymousUsage = {{ traefik_sendanonymoususage }}
{% endif %}

[entryPoints]
  [entryPoints.http]
    address = ":80"
{% if traefik_https and traefik_https_redirect %}
    [entryPoints.http.forwardedHeaders]
      insecure = true
{% endif %}
{% if traefik_https %}
  [entryPoints.https]
    address = ":443"
{% endif %}
  [entryPoints.ping]
    address = ":8082"

[api]
  insecure = true
  debug = true
[providers]
  [providers.file]
    directory = "/etc/traefik"
    filename = "route.toml"
    watch = true
  [providers.docker]

[ping]
  entryPoint = "ping"
